@charset "UTF-8";

body {
	background-color:  #F0F0E8;
}

.label-choix {
	font-size: 16px;
}

.button-choix {
	background-color: #4CAF50; /* Green */
	border: none;
	border-radius: 6px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 15px;
	
}

.button-choix:hover {
	opacity: 0.6;
}
	