@charset "UTF-8";


@media all and (min-width: 1024px){
	
	h1{
		text-align: center;	
	}
	
	#form-style{
	margin: auto;
	display: block;
	height: auto;
	left: 600px;
	width: 800px;
	top: 17px;
		
	}
	
	.form .form-label-g{
	margin-left: 40px;
	display: inline-block;
	padding: 4px;
    width: 170px;
    text-align: left;
	}
	
	.form .form-label-d{
	display: inline-block;
	padding: 4px;
    width: 110px;
    text-align: left;
    margin-left: 50px;
	}

	.form .form-champ {
	display: inline-block;
	padding: 4px;
    width: 170px;
	}
	
	.form-ligne-boutton{
	text-align: center;
	}
	
	.form .boutton{
	display: inline-block;
	margin-top: 30px;
	}
	
	.taille-btn{
	width: 170px;
	}
	
	.form .boutton-retour{
	display: none;
	}

}

@media all and (min-width: 320px ) and (max-width:1023px){
	
	h1{
		clear: left;
		text-align: center;	
	}
	
	#form-style{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	height: auto;
	left: auto;
	width: 358px;
	top: 17px;
		
	}
	
	#nmdp{
	display: none;
	}
	
	.form .form-label-g{
	margin-left: none;
	float: left;
	padding: 4px;
    width: 170px;
    text-align: left;
	}
	
	.form .form-label-d{
	float: left;
	padding: 4px;
    width: 170px;
    text-align: left;
    margin-left: none;
	}
	
	.form .form-champ {
	float: left;
	padding: 4px;
    width: 170px;
	}
	
	.form-ligne-boutton{
	display: flex;
	clear: left;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	}
	
	.form .boutton{
	margin-top: 30px;
	}
	
	.taille-btn{
	width: auto;
	}
	
}

