html {
	margin: 0;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
	font-family: sans-serif;
}

.img-article {
	vertical-align: middle;
	border-style: none;
	position: relative;
	top: 30px;
	left: 30px;
	vertical-align: middle;
	border-style: none;
	position: relative;
	top: 30px;
	left: 30px;
}

.nouvelle-box {
	width: 30%;
	border-radius: 10px;
	background: rgb(103, 116, 189);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 10px 10px;
}

.side-bar {
	float: left;
	width: 300px;
	background-color: white;
	height: 800px;
}

.enregistrer-button {
	float: left;
	background-color: #4CAF50; /* Green */
	border: none;
	border-radius: 6px;
	color: white;
	padding: 5px 20px;
	margin-top: 15px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
}

.annuler-button {
	float: right;
	background-color: #fff;
	border: none;
	border-radius: 6px;
	color: #000;
	padding: 5px 13px;
	margin-top: 15px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
}

.enregistrer-button:hover, .annuler-button:hover {
	opacity: 0.6;
}

@media only screen and (max-width:960px) {
	.nouvelle-box {
		display: flex;
		flex-direction: column;
	}
	.enregistrer-button {
		flex: none float: left;
		margin: 5px 70px;
	}
	.annuler-button {
		flex: none float: left;
		margin: 5px 70px;
	}
}