
	
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
 

.header-black {
    background-color: #1f2029;
    color: white;    
}

.header-nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 13px 10px;
    border-radius: 4px;
    opacity: 1;
    height: 72px;
}

.header-nav-link:hover{
    opacity: 0.9;
    text-decoration: none;
}

.header-nav-bar {
    display: flex;           
    align-items: center; 
    justify-content: space-between;  
    width: auto;
    height:70px;

}

.header-menu { 
    display: flex;
    justify-content: space-around; 
    align-items: center;   
    list-style: none;
}

.header-logo-eni {
    float: left;
    margin-left: 10px;
}

.header-logo-eni img:hover {
    opacity: 0.8;
}

@media all and (max-width:555px) {

.header-black {
    background-color: none;
   
}

.header-logo-eni {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 20px;
    width: 210px;
}

.header-nav-link {   
    height: 0px;
    font-size: 12px;
    padding:0 5px; 
    font-size: 12px;
}


}



