* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
 

.header {
    background-color: #1f2029;
    color: white;    
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 5px 10px;
    border-radius: 4px;
}

li a:hover{
    opacity: 0.7;
    background-color: white;
    color: black;
    text-decoration: none;
}

.nav {
    display: flex;           
    align-items: center; 
    justify-content: space-between;  
    width: 90%;
    height:70px;
    margin:auto;

}

.menu { 
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around; 
    align-items: center;   
    list-style: none;
}

.logo {
    flex: 2 1 40rem;
}

.logo img:hover {
    opacity: 0.8;
}



