html {
	margin: 0;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
	font-family: sans-serif;
}

.photoArticle {
	margin-left: 20px;
	height: 120px;
	width: 120px;
	background-color: white;
}